<!DOCTYPE html><!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html lang="en" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
<title>Review A Realtor - Home</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,bold">
						<link rel="stylesheet" href="{{  asset('themes/login/css/style.css') }}">
	
						<!-- include the skins (change to dark if you like) -->
						<link rel="stylesheet" href="{{  asset('themes/login/css/mediaqueries.css') }}">
						<link rel="stylesheet" href="{{  asset('themes/login/css/normalize.css') }}">
						<link rel="stylesheet" href="{{  asset('themes/login/css/nav.css') }}">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>

</head>
<body >
<div class="wrapper top_header">
  <div class="shell">
    <header id="header">
      <div id="logo"><a id="_brand3" itemprop="brand" itemscope itemtype="http://schema.org/Brand" href="index.html"> <img src="images/logo.png" width="373" height="111" alt="Learn Price" title="Learn Price"/>
        <meta itemprop="name" content="[Learn Price]">
        </a> </div>
      <div class="right_header"> <img src="images/adver.jpg" width="616" height="63" alt="Advertisement" class="img-responsive"/></div>
    </header>
    <div class="cl"></div>
    <nav>
      <div id="cssmenu">
        <ul>
          <li><a id="_url2" itemprop="url" href="index.html">HOME </a></li>
          <li itemscope itemtype="http://schema.org/Product" itemref="agent-to-review-name _brand3" class="active first"><a itemprop="url" href="review-a-realtor.html">Write A Review</a></li>
          <li itemscope itemtype="http://schema.org/Product" itemref="agent-to-review-name _brand3"><a itemprop="url" href="#">Find A Realtor</a></li>
          <li itemscope itemtype="http://schema.org/Product" itemref="agent-to-review-name _brand3"><a itemprop="url" href="#">Add Your Profile</a></li>
          <li itemscope itemtype="http://schema.org/Product" itemref="agent-to-review-name _brand3"><a itemprop="url" href="#">Claim Your Profile</a></li>
        </ul>
      </div>
      <div class="login">
        <ul>
          <li> <a href="#" class="active">login</a></li>
          <li> <a href="#">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end of wrapper --> <!-- content -->
  <div itemscope itemtype="http://schema.org/Product" itemref="_url2 _brand3" class="main"> <!-- search by state -->
  
      <div class="cl"></div>
   
    <!-- write review -->
    <div class="title orange">
      <h2>Review A Realtor</h2>
    </div>
   
    <!--  Dashboard here -->
    
    <div class="dashboard"> 
    <div class="dash_left">
    
    <p> <a href="#"><img src="images/logo_footer.png" alt=""></a> </p>
    
   <div class="dash_list">
   <ul>
   <li> <a href="#">Dashboard Home</a></li>
   <li><a href="#"> Reply To Reviews</a></li>
   <li>  <a href="#">Add Article</a></li>
   <li> <a href="#">Add Property Listing</a></li>
   <li> <a href="#">Edit Business Listing</a></li>
   <li></li>
   
   </ul>
   </div></div>
    
    <div class="dash_right">
    <div class="dash_right_top">
    <h4> This is where the title of the current area will appear </h4>
    </div>
    <div class="perty"> 
    <div class="perty_top">
    <h4> Rosedale - Townhome For Sale </h4>
    <h5> CR#168 </h5>
    </div>
       <div class="reply">
       <a class="reply_button">Reply to this ad</a>
    <h4>Price:1234568</h4>
    <h5> or Contact:<span>(345)16-3025</span> </h5>
      </div>
      <div class="perty_left">
      <img alt="" src="images/post_img.png"/>
      </div>
      
      <div class="ad_information">
      <h4> Ad information </h4>
      <input class="add" type="text" name="">
      </div>
      <div class="ad_information">
      <h4> Ad information </h4>
      <input class="add" type="text" name="">
      </div>
      
      <div class="ad_information">
      <h4> Ad information </h4>
      <textarea class="decription" name="" cols="47" rows="4"></textarea>
      
      </div>
      <div class="social">
      <ul>
      <li><a href="#"><img alt="" src="images/yahoo_icon.png"/></a> </li>
       <li><a href="#"><img alt="" src="images/yahoo_icon.png"/></a> </li>
        <li><a href="#"><img alt="" src="images/yahoo_icon.png"/></a> </li>
         <li><a href="#"><img alt="" src="images/yahoo_icon.png"/></a> </li>
          <li><a href="#"><img alt="" src="images/yahoo_icon.png"/></a> </li>   
      </ul>
      </div>
      <div class="tool">
      <h2> Tool</h2>
      <ul>
      <li><a href="#"> Favorite </a></li>
       <li><a href="#"> Favorite </a></li>
        <li><a href="#"> Favorite </a></li>
         <li><a href="#"> Favorite </a></li>    
      </ul>
      
       </div>
       
       <div class="video">
       <h4> youtube video </h4>
       <img src="images/video_img.png"/>
        </div>
        <div class="map">
        <h4> Map</h4>
        <img alt="" src="images/map_img.png">
        
    </div>
    </div> 
    
    <!--  Dashboard end here -->
    
    
    
    
  </div>
  <!-- end of footer -->
  <div class="footer"> <!-- shell -->
    <div class="shell">
      <div class="footer_bottom">
        <div class="left_bar"> <a href="#"><img src="images/logo_footer.png" alt="InCity Search"/></a> </div>
        <div class="right_bar"> <img src="images/adver.jpg" width="616" height="63" alt="Adver" class="img-responsive"/></div>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Write A Review</a></li>
          <li><a href="#">Find A Realtor </a></li>
          <li><a href="#">Add Your Profile </a></li>
          <li><a href="#">Claim Your Profile </a></li>
        </ul>
        <ul class="small">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">FAQ's</a></li>
          <li><a href="#">Site Map </a></li>
        </ul>
      </div>
      <div class="powerd-by">
        <div class="browsw-logo">
          <h5>Powerd By: </h5>
          <img src="images/Browsewire-footer.gif" width="86" height="24" alt=""/></div>
        <div class="copyright-info">
          <p class="copyright">Copyright © 2014  Review A Relator. All rights reserved </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
