{% extends 'RAAWebBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %} Confirm |Review {% endblock %}</title>
{% block meta %}
    <meta name="description" content="Review An Airline is the Internets leading source for reviewing airline cheap tickets, airline tickets customer reviews and flights. Discover what other people say about their experiences with an airline and hopefully you’ll make a better choice, choosing the right cheap airline tickets.">
    <!--<meta name="keywords" content=>-->
{% endblock %}

   <div class="title orange border">
      <h2>Email Confirmation</h2>
    </div>
<div class="confirm"><p><center>Congratulations!! You have successfully confirmed your email.<br><br>
Your review has also been submitted successfully.</center></p>
</p>
</div>
</div>







  {% endblock %}
