{% extends 'RAAWebBundle::layout.html.twig' %}
{% block body %}
 <div class="cl"></div>
 <div class="titles oranges border">
 {% for cmss in cms %}
      <h2>{{cmss.name}}</h2>
    </div>
<style>.new_cms{max-width: 1170px;width: 90%;margin: 0 auto;float: none;padding: 0%;text-align: justify;} </style><!-- 12-23-2014 updates by grace -->
    <div class="new_cms" style="margin-left:93px;"> 
    
    {{cmss.content| raw }}  


</div>
   
 {% endfor %}

</div>





{% endblock %}
