{% extends 'RAAWebBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %}Registered | Airline{% endblock %}</title>
{% block meta %}
    <meta name="description" content="Review An Airline is the Internets leading source for reviewing airline cheap tickets, airline tickets customer reviews and flights. Discover what other people say about their experiences with an airline and hopefully you’ll make a better choice, choosing the right cheap airline tickets.">
    <!--<meta name="keywords" content=>-->
{% endblock %}
    <div class="cl">
	</div>
    <!-- write review -->
    <div class="titles oranges border" >
      <h2 style="margin-top:67px;">Complete Registration</h2>
    </div>
    <div class="confirm" style="margin-top:-17px;"><p><center> You have succesfully registered with us.</center></p>
</div>
{% endblock %}
