<div class="scrollable">  
  <div class="scrollable-content">
  <div class=" dashboard">
  <div class="row">
      <div class="col-xs-8 left">
        <div class="image"><a href="#/events"><img src="images/left_img.png" width="587" height="280" alt="Image" /></a></div>
        <div class="caption">
        EVENTS<i class="fa fa-plus"></i>
        </div>
        </div>
        <div class="col-xs-4 right"><a class="social" href="#/you_tube"><img src="images/you_tube.png"  alt="Image" /></a></div>
    </div>
    <div class="row">
      <div class="col-xs-4 left">
      <a class="social margin_b" href="#/facebook"><img src="images/facebook.png"  alt="Image" /></a>
      <a class="social" href="#/twitter"><img src="images/twitter.png"  alt="Image" /></a>
      </div>
        <div class="col-xs-8 right">
        <div class="image"><a href="#/gallery"><img src="images/gallery.png" alt="Image" /></a></div>
        <div class="caption">
        Gallery<i class="fa fa-plus"></i>
        </div>
        </div>
    </div>
    
      <div class="row">
      <div class="col-xs-6 left">
       <div class="image"><a href="#/djs"><img src="images/djs.png" alt="Image" /></a></div>
        <div class="caption">
        DJS
        </div>
      </div>
        <div class="col-xs-6 right">
        <div class="image"><a href="" ng-click="clubxlusive()"><img src="images/club.png" alt="Image" /></a></div>
        <div class="caption">
        CLUB EXCLUSIVES<i class="fa fa-plus"></i>
        </div>
        </div>
    </div>
    </div>
  </div>
</div>
