{% extends 'RARAdminBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %} View Cms | Admin{% endblock %}</title>
<script>
	function goBack()
	{
		window.location.href = '{{ path('RARAdminBundle_manageCms') }}';
	}
</script>

	<section id="content">
				

				<form id="form" >
					<fieldset>
						<label>Cms View</label>
							{% for viewCms in cms %}
						<section class="chrome"><label for="text_field">Title</label>
							<div>{{viewCms.name}}</div>
						</section>
						<section class="chrome"><label for="text_tooltip">Meta Title</label>
							<div>{{viewCms.url|default("N.A.")}}</div>
						</section>
						<section class="chrome"><label for="text_tooltip">Description</label>
							<div>{{viewCms.content}}</div>
						</section>
						{% endfor %}
						<section class="chrome">
	<div><button class="center1" onclick="goBack();">Cancel</button></div>
						</section>
						
					</fieldset>
				</form>	
				</div>
		</section>












{% endblock %}
