<div class="scrollable">
  <h1 class="scrollable-header app-name"> <img src="images/logo.png" alt="HCC"></h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='sidebarLeft'>
     <a class="list-group-item" href="#/dashboard">Dashboard <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/events">Events <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/you_tube">Youtube <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/facebook">Facebook <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/twitter">Twitter <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/gallery">Gallery <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-click="logout()">Logout <i class="fa fa-chevron-right pull-right"></i></a>   
    </div>
  </div>
</div>
