{% extends 'RARWebBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %}Confirmation |Email {% endblock %}</title>
{% block meta %}
    
{% endblock %}

   <div class="titles oranges border">
      <h2>Email Confirmation</h2>
    </div>
	<div class="sub_email" style="margin-top:91px;margin-bottom:31px;color:green; font-size:14px;">
		<p>
			<center style="font-family:sans-serif;">
				<B>Review has been Approved</B>
				
 
 </center></p>
</div>
</div>







  {% endblock %}
