{% extends 'RARWebBundle::layout2.html.twig' %}
{% block body %}
	{% block javascripts %}
 		<script src="{{  asset('themes/web/js/menu_jquery.js') }}"></script>
 		<script src="{{  asset('themes/web/js/jquery-1.10.1.min.js') }}"></script>
		<script>
			function goBack()
			{
				window.location.href = '{{ path('rar_web_managePlan') }}';
			}
		</script>
	{% endblock %}
<div class="cl">
	</div>
<div class="title orange border">
		<h2>Change Plan</h2>
 	</div>
<div class=request>
	<div>
		<div class=confirm>One of your request to change payment plan is already under Progress.
	</div>
</div>
<div class="cust_submit1">
	<input type=submit id=save value="Go Back" onclick="goBack()";>
</div>

{% endblock %}
