{% extends 'RARWebBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %}Claim | Request{% endblock %}</title>
 <div class="cl"></div>
   <div class="titles oranges border">
      <h2>Confirmation</h2>
    </div>
    <div class="confirm" style="margin: 0 0 6px 10%;">
	<center class="chng_pl" style="background: none repeat scroll 0 0 beige;"><p>Your Request for claim has been submitted succesfully
	</p></center>
</div>
<!--<div class="confirm"><p><center> Your Request for claim has been submitted succesfully</center></p>
</div>-->








  {% endblock %}
