{% extends 'RARWebBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %} confirm Email{% endblock %}</title>
 <div class="cl"></div>
   <div class="titles oranges border">
      <h2>Email Confirmation</h2>
    </div>
<div class="confirm"><p><center><b>Thank you for registering with us and submitting your review !</b>
<br><br>
A confirmation link has been sent to your email id to complete the registration process.<br>
Please confirm your email by clicking on the link to complete your registration process.
<br><br>
Also, your review will be published once approved by the Administrator. </center></p>
</div>








  {% endblock %}
