{% extends 'RARWebBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %}Confirm | Review{% endblock %}</title>
 <div class="cl"></div>
   <div class="titles oranges border">
      <h2>Email Comfirm</h2>
    </div>
<div class="confirm"><p><center>A confirmation link has been send to your email.<br><br>
Please confirm your email by clicking on this link  to publish your review.</center></p>
</div>








  {% endblock %}
