{% extends 'RARWebBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %}Confirm | Review{% endblock %}</title>
 <div class="cl"></div>
   <div class="titles oranges border">
      <h2>Email Confirm</h2>
    </div>
<div class="confirm"><p><center>Your review has been posted succesfully
</p>
</div>








  {% endblock %}
