{% extends 'RARWebBundle::layout.html.twig' %}
{% block body %}
<title>{% block title %} Registered {% endblock %}</title>
    <div class="cl">
	</div>
    <!-- write review -->
    <div class="title title1 border" >
      <h2 style="margin-top:67px;">You Have Succesfully Registered With US</h2>
    </div>
{% endblock %}
