{% extends 'RARWebBundle::layout2.html.twig' %}
{% block body %}
<title>{% block title %} Change Plan | Request{% endblock %}</title>
 <div class="titles oranges border">
      <h2>Change Plan</h2>
  </div>
<div class="confirm" style="height:58%;">
	<center class=chng_pl><p>Your Plan has been Succesfully Changed
	</p></center>
</div>










{% endblock %}
