{% extends 'RARWebBundle::layout.html.twig' %}

{% block body %}
<title>{% block title %}Terms of Use{% endblock %}</title>
<div class="about_us" style="margin-left:28px; width:95%;">
 <img src="{{ asset('themes/web/images/terms.jpg') }}" style="width:100%; height:148px;" alt=""/></div>
</div>

<div class="titles oranges border">
      <h2>Terms Of Use</h2>
    </div>
    
<div class='terms_of_Services'>
<p style="font-size:14px;"><b>These Terms of Use are effective on January 19, 2013.</b> To access our previous Terms of Use, please click here.</p>
<hr style="margin-top:12px;">
<p style="font-size:14px;display:block; line-height:20px; margin-top:15px;font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
By accessing or using the Instagram website, the Instagram service, or any applications (including mobile applications) made available by Instagram (together, the "Service"), however accessed, you agree to be bound by these terms of use ("Terms of Use"). The Service is owned or controlled by Instagram, LLC ("Instagram"). These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.
There may be times when we offer a special feature that has its own terms and conditions that apply in addition to these Terms of Use. In those cases, the terms specific to the special feature control to the extent there is a conflict with these Terms of Use.
</p>
<h2 style="margin-top:35px;color:#FFAF41">Basic Terms</h2>
<ol>
<li>You must be at least 13 years old to use the Service.</li>
<li>You may not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content via the Service.</li>
<li>You are responsible for any activity that occurs through your account and you agree you will not sell, transfer, license or assign your account, followers, username, or any account rights. With the exception of people or businesses that are expressly authorized to create accounts on behalf of their employers or clients, Instagram prohibits the creation of and you agree that you will not create an account for anyone other than yourself. You also represent that all information you provide or provided to Instagram upon registration and at all other times will be true, accurate, current and complete and you agree to update your information as necessary to maintain its truth and accuracy.</li>
<li>You agree that you will not solicit, collect or use the login credentials of other Instagram users.</li>
<li>You are responsible for keeping your password secret and secure.</li>
<li>You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.</li>
<li>You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.</li>
</ol>

<h2 style="margin-top:35px; color:#FFAF41">Genral Conditions</h2>
<ol>
<li>You must be at least 13 years old to use the Service.</li>
<li>You may not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content via the Service.</li>
<li>You are responsible for any activity that occurs through your account and you agree you will not sell, transfer, license or assign your account, followers, username, or any account rights. With the exception of people or businesses that are expressly authorized to create accounts on behalf of their employers or clients, Instagram prohibits the creation of and you agree that you will not create an account for anyone other than yourself. You also represent that all information you provide or provided to Instagram upon registration and at all other times will be true, accurate, current and complete and you agree to update your information as necessary to maintain its truth and accuracy.</li>
<li>You agree that you will not solicit, collect or use the login credentials of other Instagram users.</li>
<li>You are responsible for keeping your password secret and secure.</li>
<li>You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.</li>
<li>You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.</li>
</ol>

<h2 style="margin-top:35px;color:#FFAF41"">Limitation of Liability; Waiver</h2>
<p style=" margin-top:20px;font-size:14px;display:block; line-height:20px; margin-bottom:27px;font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
By accessing or using the Instagram website, the Instagram service, or any applications (including mobile applications) made available by Instagram (together, the "Service"), however accessed, you agree to be bound by these terms of use ("Terms of Use"). The Service is owned or controlled by Instagram, LLC ("Instagram"). These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.

There may be times when we offer a special feature that has its own terms and conditions that apply in addition to these Terms of Use. In those cases, the terms specific to the special feature control to the extent there is a conflict with these Terms of Use.
</p>

</div>







{% endblock%}
