{% extends 'RAAAdminBundle::layout2.html.twig' %}
{% block javascripts %}
	<script type="text/javascript">
		function back()
		{
			window.location.href = '{{ path('RAAAdminBundle_login') }}';
		}
	</script>
{% endblock %}
{% block body %}
{% block meta %}
    <meta name="description" content="Review An Airline is the Internets leading source for reviewing airline cheap tickets, airline tickets customer reviews and flights. Discover what other people say about their experiences with an airline and hopefully you’ll make a better choice, choosing the right cheap airline tickets.">
    <!--<meta name="keywords" content=>-->
{% endblock %}
	<body id="login">
			<header style="height:91px;">
		<div id="logo" style="margin-left: 8px; height:30px;margin-top:10px;">
				<a href="login.html">whitelabel</a>
			</div>
		</header>
		<section id="content" >
			<form action="{{ path('RAAAdminBundle_forgotpassword') }}" id="loginform" method="post">
				<fieldset>
					<section class="chrome"><label for="username">Email</label>
						<div>
							<input type="text"  name="email">
						</div>				
					</section>
					<section class="chrome3">
				 		<div>
							<button class="fr submit b1">Submit</button>
							<a class="cancel1" style="margin-top:7px;"><input type="button" class="btn newButton" value=Cancel onclick="back()"></a>
						</div>
					</section>
    				<div class="error1">
    					{% if name is defined%}
            			{{name}}
            			{%endif%}
    				</div>
    				<div class="error2">
    					{% if name1 is defined%}
            			{{name1}}
            			{%endif%}
    				</div>						
				</fieldset>
			</form>	
		</section>
{% endblock %}


