{% extends 'RAAAdminBundle::layout2.html.twig' %}

{% block body %}
{% block meta %}
    <meta name="description" content="Review An Airline is the Internets leading source for reviewing airline cheap tickets, airline tickets customer reviews and flights. Discover what other people say about their experiences with an airline and hopefully you’ll make a better choice, choosing the right cheap airline tickets.">
    <!--<meta name="keywords" content=>-->
{% endblock %}
<body id="login">
	<header style="height:91px;">
			<div id="logo" style="margin-left: 8px; height:30px;margin-top:10px;">
				<a href="login.html">whitelabel</a>
			</div>
		</header>
		<section id="content" >
		<form action="{{ path('RAAAdminBundle_login') }}" id="loginform" method="post">
			<fieldset>
				<section class="chrome"><label for="username">Email</label>
					<div><input type="text" id="email" name="email" autofocus></div>
				</section>
				<section class="chrome"><label for="password">Password <a href="{{ path('RAAAdminBundle_forgotpassword') }}" class="login-window">Forgot password?</a></label>
					<div><input type="password"  name="password"></div>
					<div  class="rem"><label><input type="checkbox" id="remember" name="remember"><label  for="remember" class="checkbox ">remember me</label></div>
				</section>
				<section class="chrome4">
					<div><button class="fr submit">Login</button></div>
					{% if name is defined%}
    <div class="error">
        {{name}}
    </div>
				</section>
				
			</fieldset>
		</form>
		</section>
		</body>

    {%endif%}
{% endblock %}
