{% extends 'RARAdminBundle::layout2.html.twig' %}
{% block body %}
<title>{% block title %}Password Reset{% endblock %}</title>
	<body id="login">
		<header class="head">
			<div id="logo" style="margin-left: 45px;">
				<a href="login.html">whitelabel</a>
			</div>
		</header>
	<section id="content" class=conPass style="margin-left:-133"; >
		<form>
			<fieldset class="field">
    		<div class="error1">
    			{% if name is defined%}
        		Your Password has been Reset Succesfully.<br><br>
        		Your new Password is sent to <strong>{{name}}</strong>
            	{%endif%}
				<div class="home">
					<a href="{{ path('RARAdminBundle_login') }}" >Click here  </a> to login.
				</div>
			</div>
	</section>						
			</fieldset>
		</form>	
{% endblock %}
