{% extends 'RARAdminBundle::layout2.html.twig' %}
{% block javascripts %}
	<script type="text/javascript">
		function back()
		{
			window.location.href = '{{ path('RARAdminBundle_login') }}';
		}
	</script>
{% endblock %}
{% block body %}
<title>{% block title %}Forgot Password - Admin {% endblock %}</title>
	<body id="login">
		<header>
			<div id="logo" style="margin-left: 45px;">
				<a href="login.html">whitelabel</a>
			</div>
		</header>
		<section id="content" >
			<form action="{{ path('RARAdminBundle_forgotpassword') }}" id="loginform" method="post">
				<fieldset>
					<section class="chrome"><label for="username">Email</label>
						<div>
							<input type="text"  name="email">
						</div>				
					</section>
					<section class="chrome3">
				 		<div>
							<button class="fr submit b1">Submit</button>
							<a class="cancel1"><input type="button" class="btn newButton" value=Cancel onclick="back()"></a>
						</div>
					</section>
    				<div class="error1">
    					{% if name is defined%}
            			{{name}}
            			{%endif%}
    				</div>
    				<div class="error2">
    					{% if name1 is defined%}
            			{{name1}}
            			{%endif%}
    				</div>						
				</fieldset>
			</form>	
		</section>
{% endblock %}


