{% extends 'RARAdminBundle::layout.html.twig' %}


{% block body %}
<title>{% block title %}Change Password | Admin{% endblock %}</title>
							  

<!--<section id="content">			
		<div class="g12">			
		
				<fieldset>		



    
    <div class="cl"></div>
    
 write review
    <div class="title orange border">
      <h2>Change Password</h2>
    </div>


<p style="margin-bottom:0;">
      <label>Old Password </label>
      <input type="password" id="password"  name="password" data-required="true" class="required"  data-minlength="8" data-error-message="Please enter your password ">
    </p>

<p style="margin-bottom:0;">
      <label>New Password </label>
      <input type="password" id="password"  name="newpassword" data-required="true" class="required"  data-minlength="8" data-error-message="Please enter your password ">
    </p>
    <p style="margin-bottom:0;">
      <label>Confirm Password </label>
      <input type="password"  name="cpassword" data-equalto="#password" data-required="true" class="required" data-error-message="password not match ">
    </p>



<section class="chrome">	
						<div class="center"><button class="submit" name="submitbuttonname" value="submitbuttonvalue">Update</button>
										<button class="center1" name="submitbuttonname" value="submitbuttonvalue" onclick="importUsers()">Cancel</button
						</div>
					</section>
</form>
</fieldset>-->
<section id="content">			
		<div class="g12">			
			<form id="form" action="{{ path('RARAdminBundle_changePassword') }}" method="POST" autocomplete="off" data-validate="parsley" enctype="multipart/form-data">
				<fieldset>				
					<label>Change Password</label>
					<section class="chrome"><label>Old Password<font class=change>*</font></label>
						<div><input id="textboxid" class="txt_fullLength" type="password" name="oldPassword"  data-required="true"  data-error-message="Please enter your old Password."  ></div>
					
					</section>
					
					<section class="chrome"><label>New Password<font class=change>*</font></label>
						<div><input id="textboxid" id="password" class="txt_fullLength" type="password" name="newPassword"  data-required="true"  data-error-message="Please enter your new Password."  ></div>
					</section>
						
					
					<section class="chrome"><label>Confirm Password <font class=change>*</font></label>
						<div><input id="textboxid" class="txt_fullLength" type="password" name="cpassword"  data-required="true" data-equalto="#password"  data-error-message="Password not match."  ></div>
					</section>
					<section class="chrome" style="color:red;">
					<div>
					{% if wrongDetail is defined %}
					{{wrongDetail}}
					{% endif %}
					
					</div>
					
					</section>
								<section class="chrome">		

						<div class="center"><button class="submit" name="submitbuttonname" value="submitbuttonvalue">Submit</button>
											<!--<button class="center1" name="submitbuttonname" value="submitbuttonvalue" onclick="importUsers()">Cancel</button>-->
						
						</div>
						
					</section>
				</fieldset>
			</form>
		</div>
					

{% endblock %}
