<div class="terms-popup" style="overflow: hidden">
     <p>
        To avoid trust issues you can only register with a Facebook account if you choose our free option. For more options please go back and choose option 2 for additional profile choices
    </p>
</div>