<div class="register-popup" id="login_popup" style="overflow: hidden">
    <h1 class="heading">Already have an account?</h1>
    <div class="clearfix marge"></div>
    <table class="form-container double-box"><tr>
        <td class="container">
            <h4>Option 1:</h4>
            <form action="{{ path('login_check') }}" method="post" id="main_login_form">
                <div class="input-container">
                    <input placeholder="Email" type="email" id="username" name="_username" value="{{ last_username }}" />
                </div>
                <div class="input-container">
                    <input placeholder="Password" type="password" id="password" name="_password" />
                </div>
                {% if error %}
                    <div class="clearfix marge"></div>
                    <div class="error">
                        {{ error.message }}<br>
                        {% if error.message == 'Bad credentials' %}
                            <a href="/">Unable to access your account?</a>
                        {% elseif error.message == 'User account is disabled.' %}
                            <a href="/">Did you not receive a confirmation email?</a>
                        {% endif %}

                    </div>
                {% endif %}
                <input type="submit" name="login" value="Login"/>
            </form>
        </td>
        <td class="container">
            <h4>Option 2:</h4>
            <a class="sn-button fb-login" href="{{ authFb }}">
                <input type="button" value="Sign in via Facebook">
            </a>
            
           
        </td>
    </tr></table>
    <div class="signup-footer">
        <div class="register">
            Don't have an account?
            <a
                    class="ajax"
                    data-target="security/register/step_1"
                    data-action="Yaw.SecurityRegister.showStep_1"
                    href="/">
                Sign up now
            </a>
        </div>
    </div>
</div>