{% extends 'YawAppBundle:Security:reg_form_main.html.twig' %}

{% block form_container %}
    <table class="form-container single-box"><tr>
        <td class="container">
            {% block container %}{% endblock %}
        </td>
    </tr></table>
{% endblock %}