<div class="register-popup" style="overflow: hidden">
    <div class="step-7-left-box">
        <h1 class="heading">Congratulations!</h1>
        <div class="clearfix marge"></div>
        <div class="clearfix b-bottom"></div>
        <div class="clearfix marge"></div>
        <p>Your sign-up is complete.</p>
        <p>We have sent you an email to activate your account.</p>
        <p>Please check your inbox.</p>
    </div>
    <img class="f-right" src="{{ asset('bundles/yawapp/images/AngelWishes_Logo_Angel_144x144.png') }}" alt="Angel Wishes"/>
</div>