<div class="terms-popup" style="overflow: hidden">
    <h1 class="heading">Terms & conditions</h1>
    <div class="clearfix marge"></div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus ultricies massa, eget iaculis augue bibendum et. Praesent lectus odio, mattis vitae posuere sit amet, venenatis non mauris. Maecenas est tellus, congue et dignissim quis, consequat eu purus. Curabitur lectus nibh, ornare sed scelerisque vehicula, egestas nec tortor. Fusce porta elit quis lacus adipiscing mattis. Sed venenatis tincidunt quam, eget bibendum sem semper nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris volutpat nunc sit amet felis viverra eget faucibus lorem accumsan. Vivamus egestas, eros quis posuere cursus, sapien augue pharetra tellus, a congue tellus risus ac felis. Curabitur auctor sollicitudin porttitor. Vivamus pretium neque vel elit faucibus fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam viverra bibendum metus sed porta. Suspendisse ac enim at augue sodales elementum et in mi. Maecenas interdum sollicitudin enim eu tincidunt. Aenean malesuada, tellus eget volutpat condimentum, elit risus aliquam lorem, ut varius tortor nisi ut nibh.
    </p>
</div>