<div class="terms-popup" style="overflow: hidden">
	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<img src="/bundles/yawapp/images/blue_angel.png" width="80" height="50" style="float:right !important;">
	<h1 class="heading">Congratulations</h1>
	<div class="clearfix marge"></div>
	<p>
		You have upgraded your account
	</p>
	<div>
		<script type="text/javascript">
			function nextStep()
			{
				window.location.href="http://dev.yourangelwishes.com/user/dashboard/preview";
			}
		</script>
		<input type="button" name="continueNextStep" id="continueNextStep" value="Continue" style="float:right;" onclick="javascript:nextStep();">
	</div>
</div>
<style>
.ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable
{
	display: block;
	height: auto;
	left: 346px !important;
	top: 230px !important;
	width: 577px !important;
}
</style>