<div id="user_dashboard_content" class="col-main-content">
	<h2>To Finalize</h2>
	<script type="text/javascript">
	
	    $(document).ready(function() {
			document.getElementById("settings__user_dashboard_menu").style.display="block";
			document.getElementById("label_settings__user_dashboard_menu").style.display="none";

			document.getElementById("preview__user_dashboard_menu").style.display="block";
			document.getElementById("label_preview__user_dashboard_menu").style.display="none";

			document.getElementById("verification__user_dashboard_menu").style.display="block";
			document.getElementById("label_verification__user_dashboard_menu").style.display="none";
		});
	</script>
	<div class="content-block" style="border:1px solid;padding: 20px;height: 600px;">
		<h3>Step 3 - Verify your ID</h3>
		<p>In order to build trust between you and your potential donors and for your listing to appear as "ID Verified"</p>

		<br/><br/>
		<form id="formVerify" name="formVerify" action="">
		<table>
			<tr>
				<td width="130px">SSN</td>
				<td><input type="text" id="ssn" name="ssn" size="50" /></td>
			</tr>
			<tr>
				<td>First Name</td>
				<td><input type="text" id="first_name" name="first_name" size="50" /></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" id="last_name" name="last_name" size="50" /></td>
			</tr>
			<tr>
				<td colspan=2>&nbsp;</td>
			</tr>
			<tr>
				<td>Address line 1</td>
				<td><input type="text" id="address_line_1" name="address_line_1" size="50" /></td>
			</tr>
			<tr>
				<td>Address line 2</td>
				<td><input type="text" id="address_line_2" name="address_line_2" size="50"/></td>
			</tr>
			<tr>
				<td>City</td>
				<td><input type="text" id="city" name="city" size="50"/></td>
			</tr>
			<tr>
				<td>State & Zip</td>
				<td>
					<table>
						<tr>
							<td><input type="text" id="state" name="state" size="21"/></td>
							<td><input type="text" id="zip" name="zip" size="21"/></td>
						</tr>
					</table>
					
					</td>
				
			</tr>
			<tr>
				<td>Cell number</td>
				<td><input type="text" id="cell_number" name="cell_number" size="50"/></td>
			</tr>
		</table>
		</form>

		<input type="button" name="verify" id="verify" value="Verify my ID" style="float:right; margin-right:20px;" onclick="">

	</div>
</div>

