{% extends 'RARAdminBundle::layout.html.twig' %}
{% block body %}

<title>{% block title %} Add Plan | Admin{% endblock %}</title>
	<script>
	function importUsers()
	{
		window.location.href = '{{ path('RARAdminBundle_plan') }}';
	}
	</script>
<section id="content">			
			<div class="g12">			
				<form id="form" action="{{ path('RARAdminBundle_addplan') }}" method="post" autocomplete="off" data-validate="parsley">
					<fieldset>
						<label>Create New Plan</label>
						<section class="chromeD"><label>Name<font class=change>*</font></label>
							<div >
								<input class="txtBoxBig"  id="required_field" type="text"  name="name"  data-required="true" data-error-message="Please enter name."  >
							</div>
							<label>Description<font class=change>*</font></label>
							<div>
								<textarea rows=5 cols=5  name=description r data-required="true"  data-error-message="Please enter description."  ></textarea >
							</div>
						</section>
						
						<section class="chrome"><label>Plan Charges(monthly)<font class=change></font></label>
							<div>
								<input class="txtBoxSmall dollar" id="required_field" type="text"  name="charges"  >
							</div>		
							<label>Plan Charges(half-yearly)<font class=change></font></label>
							<div>
								<input class="txtBoxSmall dollar" id="required_field" type="text"  name="chargesh" >
							</div>				
						</section>
						<section class="chrome"><label>Plan Charges(yearly)<font class=change></font></label>
							<div>
								<input class="txtBoxSmall dollar" id="required_field" type="text"  name="chargesy" >
							</div>			
						</section>
						<section class="chrome">
							<div class="center">
								<button class="submit" name="submitbuttonname" value="submitbuttonvalue">Submit</button>
												<button class="center1" name="submitbuttonname" value="submitbuttonvalue" onclick="importUsers()">Cancel</button>
							</div>
						</section>
					</fieldset>
				</form>	
			</div>
{% endblock %}
