<div class="col-left-nav">
    <h2 class="heading">{% block header %}{% endblock %}</h2>
    <div class="content-block">
        {% block content %}{% endblock %}
    </div>
    {% block adverts %}{% endblock %}
</div>