{% block main_body %}
	<style type="text/css">

		.style1 {
			font-family: "Berlin Sans FB", "Berlin Sans FB Demi";
			font-size: 24px;
		}
		.style2 {
			font-size: 42px;
			color: #FFCC66;
			font-weight: bold;
		}
		.style3 {
			color: #618098;
			font-weight: bold;
			font-size: 28px;
		}
		.style4 {font-family: "Berlin Sans FB", "Berlin Sans FB Demi"; font-size: 24px; color: #618098; }
		.style5 {font-size: 18px; font-family: Berlin Sans FB","Berlin Sans FB Demi !important;line-height: 23px;}
		.style6 {font-size: 28px}
		.style7 {
			font-size: 16px;
			color: #618098;
		}
		.style10 {font-family: "Berlin Sans FB", "Berlin Sans FB Demi"}
		.style14 {font-family: "Berlin Sans FB", "Berlin Sans FB Demi"; font-size: 24px; color: #618098; font-weight: bold; }
		.style15 {font-family: "Berlin Sans FB", "Berlin Sans FB Demi"; font-size: 18px; color: #618098; }
	</style>
	<h1 align="center" class="style1 style2">Here's how it works</h1>
	
	<table width="100%"  border="0">
		
		<tr>
			<td width="40%">
				<p>&nbsp;</p>
				<br/><br/><br/>
				<p align="right" class="style1 style3">
					Give Funds
				</p>
				<br/>
				<p align="right" class="style4 style5">
					Are you in a financial <br>
					position to help others? 
				</p>
				<br/>
			</td>
			<td width="19%">
				<div align="center">
					<img src="/bundles/yawapp/images/blue_angel.png" width="198" height="125">
				</div>
			</td>
			<td width="41%">
				<p>&nbsp;</p>
				<br/><br/><br/>
				<p align="left" class="style4 style6">
					<strong>Get Funds</strong>
				</p>
				<br/>
				<p align="left" class="style4 style5">
					Are you on hard times <br>
					and need financial help? 
				</p>
				<br/>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<div align="right" class="style1 style7">
					<p class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height:30px !important;">
						Did you know that if you and half<br>
						of your facebook friends gave the<br>
						equivalent of   1 starbucks per month it<br>
						could help 3 of your friends 
						or 3 complete<br>
						strangers make ends meet, pay soccer dues, <br>
						help raise money for a punctured tire, or <br>
						simply enable someone to focus on 
						making<br>
						changes in their lives without being<br>
						constantly under financial stress?
					</p>
					<p class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
						Find out how or Get started 
					</p>
				</div>
			</td>
			<td>
				<div align="center">
					<p>
						<img src="/bundles/yawapp/images/yellow_dots_sml.png" width="10" height="164">
					</p>
				</div>
			</td>
			<td valign="top" class="style15"><div class="style1 style7">
				<p style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px !important;font-size:18px !important;">
					Angel wishes enables you to raise <br>
					funds 
					for whatever reason you like. We <br>
					recognize 
					that 
					people in need of 
					financial help 
					<br>
					may 
					also 
					want to maintain 
					their dignity so we <br>
					enable you to prove that 
					you're real and 
					make 
					<br>
					an anonymous request. So whether 
					you need a <br>
					little 
					help on a monthly basis 
					or for a one time 
					<br>
					goal, 
					joining Angel Wishes may help you <br>
					make 
					your wish come true!
				</p>
				<p style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;font-size:18px !important;">
					Find out how or Get started <br>
				</p></div>
			</td>
		</tr>
		<br/>
		<tr>
			<td>&nbsp;</td>
			<td>
				<div align="center">
					<span class="style3 style10"><br>
						Features
					</span>
				</div>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<div align="right">
					<span class="style1">
						<img src="/bundles/yawapp/images/Mac_Monitor_Angel.jpg" width="278" height="220">
					</span>
				</div>
			</td>
			<td>
				<div align="center">
					<span class="style1">
						<img src="/bundles/yawapp/images/Mac%20Monitor.png" width="278" height="220">
					</span>
				</div>
			</td>
			<td>
				<span class="style1">
					<img src="/bundles/yawapp/images/Mac_Monitor_Recipient.jpg" width="278" height="220">
				</span>
			</td>
		</tr>
		<br/>
		<tr class="style4">
			<td>
				<div align="right" class="style4">
					<strong>Give Benefits</strong>
				</div>
			</td>
			<td>
				<div align="center" class="style4">
					<strong>Features</strong>
				</div>
			</td>
			<td>
				<span class="style14">Get Benefits</span>
			</td>
		</tr>
		
		<tr valign="top">
			<td>
				<p align="right" class="style15" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Give as little as you can afford
				</p>
				<p align="right" class="style15" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					<span class="style10">Set up automatic reminders</span>
				</p>
				<p align="right" class="style15" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Give to those with similar interests
				</p>      
				<p align="right" class="style15" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Spread the word to your 
					social
					network<br>
					and measure your impact
				</p>
				<p align="right" class="style15" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Read More
				</p>      
				<p align="right" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					&nbsp; 
				</p>
			</td>
			<td class="style4">
				<p align="center" class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Easy 5 minute registration
				</p>
				<p align="center" class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					ID Verified for more trust 
				</p>      
				<p align="center" class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Fundrasing tools 
				</p>
				<p align="center" class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Easily Give from your cell phone <br>
					at any time
				</p>      
				<p align="center" class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Read More   
				</p>    
			</td>
			<td class="style4">
				<p class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Raise funds for any reason
				</p>
				<p class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Anonymous listing to maintain  dignity
				</p>
				<p class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Reduces the need for short term loans
				</p>      
				<p class="style5">
					Earn extra income by spreading the word<br>
					to your social network
				</p>
				<p class="style5" style="font-family: Berlin Sans FB,Berlin Sans FB Demi !important;line-height: 30px;">
					Read More 
				</p>    
			</td>
		</tr>
	</table>
	<p align="center" class="style1">&nbsp;</p>
	<p class="style1">&nbsp; </p>
{% endblock %}