<table><tbody>
                        <tr>
                            <td ><h4>T&Cs</h4></td>
                            <td><h4>Need help???</h4></td>
                            <td><h4>Share your Angel Wishes</h4></td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ajax" data-target="security/login/terms" data-action="Yaw.SecurityRegister.showPopup" href="" data-match="">
					Terms of use
				</a>

				<br>
                                Privacy policy
				<br>
                                © 2013 Angel Wishes
                            </td>
                            <td>
                                Frequently asked questions<br>
                                Send us an email<br>
                                Call us on 1-800-675-2323
                            </td>
                            <td>
                                SOME ICONS
                            </td>
                        </tr>
                    </tbody></table>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-43707456-1', 'angelwishesnetwork.com');
ga('send', 'pageview');

</script>