<ion-view title="Create Messages">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer"> 
    <form name="alertmainmessage"  novalidate>
        <div class="row customalign">
           <div class="col-xs-9">
            <label class="item item-input">
            <i class="icon ion-chatbox placeholder-icon"></i>
            <input type="text" placeholder="Add Message..." ng-model= "message" required>
          </label>
           </div>
           <div class="col-xs-3">
           <button class="button button-positive" type="submit" on-touch="messagemain(message)" ng-disabled="alertmainmessage.$invalid">
            <i class="icon ion-arrow-right-a"></i>
          </button>
        </div>
        </div>
        </form>
   <div ng-show="showsuccess">
      <div class="alert alert-success page-header jumbotron" role="alert"><i  class="icon ion-checkmark-circled"></i> Message Posted Succesfully</div> 
   </div>
  </ion-content>
   <div class="tabs tabs-positive tabs-icon-only">
            <a class="tab-item"  href="#/app/search/vehicle">
              <i class="icon ion-model-s"></i>
            </a>
           
            <a class="tab-item" href="#/app/fines">
              <i class="icon ion-clipboard"></i>
            </a>
     </div>
</ion-view>
